---
layout: landing
title: Home
---

<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui four column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="red code icon"></i>
            Freedom
          </div>
          <p>Freedom represents dedication to free software and content.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="dark linux icon"></i>
            Friends
          </div>
          <p>Friends represents the strength of our community.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="yellow rocket icon"></i>
            Features
          </div>
          <p>Features represents our commitment to excellence.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="green thumbs up icon"></i>
            First
          </div>
          <p>First represents our commitment to innovation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
    <div class="row">
      <div class="eight wide column">
        {% include home-post.html %}
      </div>

      <div class="eight wide column">
          
          {% include left-top-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div> <!-- /row -->
  </div>
</div>


<div class="ui inverted vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui five column center aligned stackable inverted divided grid">
        <div class="column">
          <a class="ui small blue inverted statistic" href="/slides/2015/06/01/f6a/">
            <div class="text value">
              F6a
            </div>
            <p class="label">
              漫游指南
            </p>
          </a>
        </div>
        <div class="column">
          <a class="ui small purple inverted statistic pagebar" href="http://hack.fdzh.org/ppt">
            <div class="text value">
              F22
            </div>
            <div class="label">
              使用指南
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="http://hack.fdzh.org/item?id=450">
            <div class="text value">
              <i class="question icon"></i> 
            </div>
            <div class="label">
              提问指南
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small orange inverted statistic" href="https://github.com/FZUG/fzug.github.io/wiki">
            <div class="text value">
                F6a
            </div>
            <div class="label">
              投稿指南
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="http://whatcanidoforfedora.org/">
            <div class="text value">
              Fedora
            </div>
            
            <div class="label">
              贡献指南
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


</div>


