<div class="ui inverted footer vertical segment">
  <div class="ui stackable page grid">
    <div class="ten wide column">
      <div class="ui three column stackable grid">
        <div class="column">
          <h5 class="ui inverted header">子站</h5>
          <div class="ui inverted link list">
            <a class="item" href="http://hack.fdzh.org">Hack 社区</a>
            <a class="item" href="/blog/">部落格</a>
            <a class="item" href="https://copr.fdzh.org">Copr 构建系统</a>
            <a class="item" href="http://repo.fdzh.org">社区软件源</a>
            <a class="item" href="http://p.fdzh.org">代码粘贴板</a>
            <a class="item" href="http://ppt.fdzh.org">云端泡泡糖</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">下载</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://getfedora.org/zh_CN/workstation/download/">Fedora Workstation</a>
            <a class="item" href="https://getfedora.org/zh_CN/server/download/">Fedora Server</a>
            <a class="item" href="https://getfedora.org/zh_CN/cloud/download">Fedora Cloud</a>
            <a class="item" href="https://spins.fedoraproject.org/">定制版</a>
            <a class="item" href="http://torrents.fedoraproject.org/">种子下载</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">支持</h5>
          <div class="ui inverted link list">
            <a class="item" href="https://fedoraproject.org/wiki/Fedora_Project_Wiki/zh-cn">WiKi</a>
            <a class="item" href="https://docs.fedoraproject.org/">文档</a>
            <a class="item" href="http://hack.fdzh.org/ask">问答</a>
            <a class="item" href="http://irc.fdzh.org">IRC</a>
            <a class="item" href="http://fdzh.org/mailinglist">邮件列表</a>
            
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui two column stackable grid">
        <div class="column">
          <h5 class="ui inverted header">Social</h5>
          <div class="ui inverted link list">
            <a class="item" href="http://weibo.com/fdzhorg"><i class="weibo icon"></i> Weibo</a>
            <a class="item" href="https://github.com/FZUG"><i class="github icon"></i> GitHub</a>
            <a class="item" href="{{ site.url }}/feed.xml"><i class="rss icon"></i> Feed</a>
             <a class="item" href="http://hub.fdzh.org"><i class="cube icon"></i> Hub</a>
          </div>
        </div>
        <div class="column">
          <h5 class="ui inverted header">友情链接</h5>
          <div class="ui inverted link list">
            <a class="item" href="http://www.ucloud.cn/?ref=fdzh.org">UCloud</a>
            <a class="item" href="http://linuxstory.org/?ref=fdzh.org">Linux Story</a>
            <a class="item" href="http://www.redhat.com/">Redhat</a>

          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned segment copyright">
  <i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.Content is available under <a href="https://fedoraproject.org/wiki/Legal:Main">Attribution-Share Alike 3.0 Unported</a> unless otherwise noted.
</div>
