<!-- masthead -->

<div id="particles">
    
</div>
<div class="ui masthead segmentss blue-round-gradient" >
  <div class="ui page grid">
    <div class="column">
        
        {% include menu.html %}

        <h1 class="header-3d header-3d-center">{{ site.tagline }}</h1>

        <div class="ui stackable grid">
                  
          <div class="row">
            <!-- <div class="ten wide column">

             {% include recent-apps.html %}-->
              
            </div>
            <div class="tmtltle" >
              <h2 class="slim-header-light">Fedora 是一款由全球爱好者合作构建的面向日常应用的<span id="what-fedora-is-for" class="disabled">快速的操作系统</span>。<br>更少设置，更多创新。是选择你的专属 Fedora ，并开始工作/娱乐的时候了......</h2>
             </div>
            
            
          </div> <!-- .row -->
          
        </div> <!-- .grid -->
        
    </div>


  </div>
  
</div>
<!-- /masthead -->
