<!-- masthead -->

<div id="particles">
    
</div>
<div class="ui masthead segmentss blue-round-gradient" >
  <div class="ui page grid">
    <div class="column">
        
        {% include menu.html %}

       <h1 class="header-3d header-3d-center">Fedora<span id="what-fedora-is-for" class="disabled">中文社区</h1>

        <div class="ui stackable grid">
                  
          
            <div class="tmtltle" >
              
              <h2>现在，选择你的<a href='https://getfedora.org/zh_CN/'>专属 Fedora </a>，并开始工作/娱乐/享受 Linux 带来的乐趣吧！</h2>
             </div>
          </div> <!-- .row -->
          
        </div> <!-- .grid -->
        
    </div>


  </div>
  
</div>
<!-- /masthead -->
