<div class="ui menu">
  <a class="header item" href="/">Home</a>
  <div class="right menu">
    <a class="item menu-details {% if page.title == 'Metrics' %}active{% endif %}" href="http://news.fdzh.org" target="_blank" data-position="bottom left" data-content="新闻发布"><i class="icon dashboard"></i>News</a>
    <a class="item menu-details {% if page.title == 'Blog' %}active{% endif %}" href="/blog/"  data-position="bottom left" data-content="博客"><i class="icon comments"></i>Blog</a>
    <a class="item menu-details {% if page.title == 'Embeds' %}active{% endif %}" href="http://news.fdzh.org/ask" target="_blank" data-position="bottom left" data-content="问答区域"><i class="wizard icon"></i>Star</a>
    <a class="item menu-details {% if page.title == 'Apps' %}active{% endif %}" href="https://copr.fdzh.org" target="_blank" data-position="bottom left" data-content="Copr构建系统"><i class="icon cube"></i>Copr</a>
    <a class="item menu-details {% if page.title == 'Embeds' %}active{% endif %}" href="http://p.fdzh.org" target="_blank" data-position="bottom left" data-content="代码粘贴板"><i class="wizard icon"></i>Paste</a>

    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>
    {% if site.pagebar %}
      <a class="mobile item pagebar" href="#"><i class="icon content"></i></a>
      <a class="item pagebar" href="#"><i class="icon content"></i></a>
    {% endif %}
  </div>
</div>
